<div class="contents">
    <div class="foto"><img src="assets/img/img1.png" alt=""></div>
    <div class="textarea">
      <h1>
        {{ 'header.text' | translate }}<br>
        {{ 'header.text2' | translate }} <span style="color: #fee383">Stefan</span> Moldoveanu <br>
        Front End Developer
      </h1>
    </div>
  
  
  
    <button mat-stroked-button color="primary" class="contact-btn" (click)="scrollToElement('contact')">{{ 'header.button' | translate
        }}</button>
  
  </div>
  
  