<div class="content">
    <div class="left">
        <a [routerLink]="['/imprint']"  >{{'footer.link1' | translate}}</a>
        <a [routerLink]="['/data-protection']" >{{'footer.link2' | translate}}</a>
    </div>

    <div class="right">
        <a href="https://linkedin.com/in/stefan-moldoveanu-52546622a"><img src="assets/icons/linkedin.png" alt="linkedin" class="icon"></a>
        <a href="https://github.com/StefanMdv"><img src="assets/icons/github.png" alt="github" class="icon"></a>
    </div>
    

</div>
