.content {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16rem;
    padding-left: 16rem;

    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: #ffa31a;
        }
    }
}

.left {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
        margin-right: 32px;
    }
}

.right {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        margin-right: 16px;
    }
}

.icon {
    width: 40px;
    height: 40px;
}

@media(max-width: 1250px){
    .content {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
@media(max-width: 950px){
    .content {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}
@media(max-width: 750px){
    .content {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (max-width: 450px) {
    .content {
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 16px;

        a {
            padding-bottom: 8px;
            margin: 0;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    a {
        padding-bottom: 8px;
    }
}


