.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    height: 90px;   
    z-index: 699;
    margin-bottom: 32px;
    margin-top: 32px;

    h2 {
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 90px;
        color: #ffffff;
        text-shadow: 3px 3px black;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .quote {
        text-align: center;
    }
}

@media (max-width: 750px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0; 


        .quote {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .title {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 28px !important;
    }

    p {
        font-size: 14px;
    }
}
