.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    position: absolute;
    width: 156px;
    height: 90px;
    top: 16px;
    z-index: 699;
    padding-bottom: 60px;

    h2 {
        font-size: 36px !important;
        font-family: Karla !important;
        font-style: normal;
        font-weight: 500;
        line-height: 90px;
        color: #ffffff;
        text-shadow: 3px 3px black;
    }
}

.header {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
    width: 80vw;

    .foto {
        img {
            width: 220px;
            height: 220px;
            border-radius: 100%;
            object-fit: cover;
            border: 2px solid #fee383;
        }
    }

    .quote {
        max-width: 300px;
    }
}

@media (max-width: 750px) {
    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-top: 0;

        .foto {
            img {
                width: 120px;
                height: 120px;
                border-radius: 100%;
                object-fit: cover;
                border: 2px solid #fee383;
            }
        }

        .quote {
            padding-left: 8px;
            padding-right: 8px;
        }

        .header {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
    }
}
