<div class="content">
    <span class="title">
        <h2>About me</h2>
    </span>

    <div class="header">
        <div class="foto">
            <img src="./assets/img/foto.png">
        </div>
        <div class="quote">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quam explicabo, 
            reiciendis dolorem iure laboriosam, sed molestiae alias 
            enim quibusdam ratione vitae aut suscipit porro reprehenderit placeat? 
            Quis, ratione possimus.
        </div>
    </div>

</div>
