<div class="content">
    <span class="title">
        <h2>{{ 'contact.title' | translate }}</h2>
    </span>
    <span class="subtitle">
        <p>{{ 'contactform.title' | translate }}<span style="color: #fee383"> contact@stefan-moldoveanu.com</span></p>
    </span>

    <form  (ngSubmit)='sendMail(contactForm)' #contactForm="ngForm" >
        <mat-form-field appearance="fill">
            <mat-label>{{'form.name' | translate}}</mat-label>
            <input [(ngModel)]="contact.name"  type="name" name="name" matInput required autocomplete="off" #name="ngModel" id="formName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.email' | translate}}</mat-label>
            <input [(ngModel)]="contact.mail" type="email" name="email" matInput placeholder="{{'form.email' | translate}}" [email]="true" required autocomplete="off" #mail="ngModel" id="formEmail">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.text' | translate}}</mat-label>
            <textarea [(ngModel)]="contact.msg" name="message" matInput autocomplete="off" #message="ngModel" id="formMsg" required></textarea>
          </mat-form-field>

          <button [disabled]="contactForm.invalid" mat-raised-button color="primary" type="submit" >{{'form.button' | translate}}</button>

    </form>
</div>