<div class="content">
    <span class="title">
        <h2 >My Skills</h2>
        
    </span>

    <div class="skills">
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/Group 205.png"></span>
            <mat-card>
                <p>HTML/CSS</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/java script.png"></span>
            <mat-card>
                <p>JavaScript</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/angular2.png"></span>
            <mat-card>
                <p>Angular</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/Git-Icon-1788C 2.png"></span>
            <mat-card>
                <p>Git</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/Group 226.png"></span>
            <mat-card>
                <p>Scrum</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/bootstrap.png"></span>
            <mat-card>
                <p>Bootstrap</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/material.png"></span>
            <mat-card>
                <p>Material Design</p>
            </mat-card>
        </div>
        <div class="card">
            <span class="skill-logo"><img src="assets/icons/firebase.png"></span>
            <mat-card>
                <p>Firebase</p>
            </mat-card>
        </div>
    </div>
</div>
