$primary: #ffa31a;
$secondary: #fee383;
$grey: #1a1a1a;
$black: #000000;



.navbar-dark .navbar-nav .nav-link .navbar-toggler-icon {
    color: white !important;
    background-color: $black !important;
    &:hover,
    &:active,
    &:focus {
        color: $primary !important;
        cursor: pointer !important;
    }
}

.navbar-dark .navbar-toggler {
    color: white !important;
    border: 0 !important;

    &:active,
    &:focus {
        border: 0 !important;
        cursor: pointer !important;
    }
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    align-items: flex-start;
   margin: 16px 16rem ;

    a {
        color: white !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 19px !important;
        
        &:hover {
            animation: rubberBand 0.8s;
            color: $primary !important;
            cursor: pointer !important;
        }

        
        &:active,
        &:focus {
            color: $primary !important;
            cursor: pointer !important;
        }
    }
    .mat-icon:hover {
        color: $primary !important;
        cursor: pointer !important;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}

.logo {
    height: 55px;
}


header {
    z-index: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section{
    padding-left: 16rem;
    padding-right: 16rem;
    width: 100%;
}

.imprint { 
    width: 100%;
    display: flex;
    justify-content: flex-start;   
}
.skills {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(0deg, $black 0%, $grey 35%, $black 100%);
}

.work {
    width: 100%;
    background: $black;
}

.aboutme {
    width: 100%;
    background: linear-gradient(0deg, $black 0%, $grey 35%, $black 100%);
}

.contact {
    width: 100%;
    background: $black;
}

.router-link-active {
    top:800px
}

footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, $black 0%, #494949 35%, $black 100%);

    a {
        &:hover {
            cursor: pointer !important;
        }
    }
}

@media(max-width: 1250px){
    
    .container-fluid{
        align-items: flex-start;
        margin: 16px 10rem !important;
    }

    .section{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
}

@media(max-width: 950px){
    header {
        align-items: center;
    }
    .logo {
        height: 40px;
    }

    .container-fluid{
        align-items: flex-start;
        margin: 16px 8rem !important;
    }

    .section{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
}

@media(max-width: 750px){
    .logo {
        height: 40px;
    }

    .container-fluid{
        align-items: flex-start;
        margin: 16px 6rem !important;
    }

    .section{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    
}



@media(max-width: 450px){
   
     .container-fluid{
        align-items: flex-start;
        margin: 16px 3rem !important;
    }

    .textarea {
        padding-bottom: 0;
    }

    .section{
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

@media(max-width: 300px){
   
    .container-fluid{
       align-items: flex-start;
       margin: 16px 1.5rem !important;
   }

   .section{
       padding-left: 1.5rem;
       padding-right: 1.5rem;
   }

}