<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" *ngIf="langEnglish">
            <a class="nav-link" href="#">About me</a>
          </li>
          <li class="nav-item" *ngIf="langDeutsch">
            <a class="nav-link" href="#">Über mich</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="english()">English</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="deutsch()">Deutsch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<header>
  <img src="assets/img/sky-background.jpg" id="bg">
</header>
<div class="contents">
  <div class="foto"><img src="assets/img/foto.png" alt=""></div>
  <div class="textarea" *ngIf="langEnglish">
    <h1>
      Hi, <br>
      I'm <span style="color: #fee383">Stefan</span> Moldoveanu <br>
      Front End Developer
    </h1>
  </div>
  <div class="textarea" *ngIf="langDeutsch">
    <h1>
      Servus, <br>
      Ich bin <span style="color: #fee383">Stefan</span> Moldoveanu <br>
      Front End Developer
    </h1>
  </div>

  <a href="#contact"><button mat-stroked-button color="primary" class="contact-btn" *ngIf="langEnglish">Contact me</button><button mat-stroked-button color="primary" class="contact-btn" *ngIf="langDeutsch">Kontaktiere mich</button></a>
</div>


<div class="skills">
  <router-outlet></router-outlet>
</div>

<div class="work">
  <router-outlet name="work"></router-outlet>
</div>

<div class="aboutme">
  <router-outlet name="aboutme"></router-outlet>
</div>

<div class="contact" id="contact">
  <router-outlet name="contact"></router-outlet>
</div>

<footer>
  <router-outlet name="footer"></router-outlet>
</footer>