.content {
    padding-left: 16rem;
    padding-right: 16rem;
    margin-bottom: 32px;
    

    h1 {
        font-size: 36px !important;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
@media(max-width: 1250px){
    .content {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media(max-width: 950px){
    .content {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media(max-width: 750px){
    .content {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (max-width: 450px) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;

        h1 {
            font-size: 25px !important;
        }

        h2 {
            font-size: 20px !important;
        }

        h3 {
            font-size: 18px !important;
        }

        p{
            font-size: 16px !important;
        }
    }
}

@media (max-width: 350px) {
    .content {
        h1 {
            font-size: 20px !important;
        }
        h2 {
            font-size: 15px !important;
        }

        h3 {
            font-size: 13px !important;
        }

        p {
            font-size: 11px !important;
        }
    }
}

@media(max-width: 300px){
    .content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}