<div class="content">
    <span class="title">
        <h2>MY Work</h2>
    </span>

    <div class="work">
        <div class="card">
            <mat-card>
                <img src="assets/img/quiz.png">
                <div id="work1">Quizz Game <br>HTML & JS</div>
            </mat-card>
        </div>    

        <div class="card">
            <mat-card>
                <img src="assets/img/tic-tac-toe.png">
                <div id="work2">The Tic Tac Toe Game <br>HTML & JS</div>
            </mat-card>
        </div>   
    
        <div class="card">
            <mat-card>
                <img src="assets/img/Backlog.PNG">
                <div id="work3">Kanban Board <br>HTML & JS</div>
            </mat-card>
        </div>   
    
        <div class="card">
            <mat-card>
                <img src="assets/img/El_Pollo_Loco.png">
                <div id="work4">JS based jump & run game</div>
            </mat-card>
        </div>
   
        <div class="card">
            <mat-card>
                <img src="assets/img/ring-of-fire.png">
                <div id="work5">Drinking Game <br>Angular</div>
            </mat-card>
        </div>

        <div class="card">
            <mat-card>
                <img src="assets/img/simple-crm.png">
                <div id="work6">Simple CRM<br>Angular</div>
            </mat-card>
        </div>

    </div>