$primary: #ffa31a;
$secondary: #fee383;
$grey: #1a1a1a;
$black: #000000;

p {
    font-size: 18px;
}

.d-none {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    height: 90px;
    z-index: 699;
    margin-bottom: 64px;

    h2 {
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 90px;
        color: #ffffff;
        text-shadow: 3px 3px black;
    }
}
.work {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

  

    a {
        &:hover {
            div {
                display: flex;
                font-size: 16px ;
                width: 100%;
                height: 100%;
                opacity: 85%;
            }
        }
    }
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    .selection-btn {
        width: 128px;
        height: 70px;
        border: 2px solid $secondary;
        color: $secondary;
        background-color: $black;
        margin-left: 8px;
        cursor: pointer;

        & :active, & :focus, &:hover {
            background-color: $secondary;
            color: white;
            text-shadow: 1px 1px black;
        }
    }
}

.card {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    background: #1a1a1a;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        height: 0%;
        border-radius: 6px;
        background-color: rgba(245, 245, 245, 0.9);
        opacity: 0%;
        z-index: 333;
        color: #fee383;
        font-size: 0px;
        font-weight: bold;
        text-shadow: 1px 1px black;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 450ms ease-in-out;
    }

    mat-card {
        width: 300px;
        height: 300px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: contain;
            width: 300px;
            height: 300px;
            border-radius: 6px;
        }
    }

    p {
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
}

@media (max-width: 650px) {
    .work {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        position: relative;
        display: flex;
        align-items: center;
        background: #1a1a1a;

        div {
            width: 180px;
            height: 180px;
        }

        mat-card {
            width: 180px;
            height: 180px;

            img {
                object-fit: contain;
                width: 180px;
                height: 180px;
                border-radius: 6px;
            }
        }
    }
}

@media (max-width: 300px) {
    h2{
        font-size: 28px !important;
    }
}


