<div class="content">
    <span class="title">
        <h2>MY Work</h2>
    </span>

    <div class="work">
        <div class="card">
            <mat-card>
                <img src="assets/img/quiz.png">
            </mat-card>
        </div>    

        <div class="card">
            <mat-card>
                <img src="assets/img/tic-tac-toe.png">
            </mat-card>
        </div>   
    
        <div class="card">
            <mat-card>
                <img src="assets/img/Backlog.PNG">
            </mat-card>
        </div>   
    
        <div class="card">
            <mat-card>
                <img src="assets/img/El_Pollo_Loco.png">
            </mat-card>
        </div>
   
        <div class="card">
            <mat-card>
                <img src="assets/img/ring-of-fire.png">
            </mat-card>
        </div>

        <div class="card">
            <mat-card>
                <p>Simple CRM</p>
            </mat-card>
        </div>

    </div>