@import "~bootstrap/scss/bootstrap";
:root {
    $primary: #ffa31a;
    $secondary: #fee383;
    $grey: #1a1a1a;
    $black: #000000;
}
$primary: #ffa31a;
$secondary: #fee383;
$grey: #1a1a1a;
$black: #000000;

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    color: white !important;
    overflow-x: hidden;
    font-family: Karla !important;

    h1 {
        font-size: 64px !important;
        font-weight: bold !important;
        line-height: 90px !important;
        text-shadow: 3px 3px black;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    a {
        color: white;
    }
}

.clr-primary {
    color: $primary !important;
}

.bgr-primary {
    background-color: $primary !important;
}

.clr-secondary {
    color: $secondary !important;
}

.bgr-secondary {
    background-color: $secondary !important;
}
